/* Hero =====
=========== */ 

.hero {
    background: var(--clr-black);
    position: relative;

    @include mq(tablet) {
        height: 650px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        &::after {
            content: '';
            display: block;
            width: 6px;
            height: 19rem;
            position: absolute;
            left: 0;
            top: 10.8125rem;
            background: var(--clr-gradient);
        }
    }
}

.hero__img {
    background: url('../assets/home/mobile/create-and-share.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 294px;

    @include mq(tablet) {
        background-image: url('../assets/home/desktop/create-and-share.jpg');
        width: 35%;
        height: 100%;
    }

    @include mq(desktop) {
        width: 57%;
    }
}

.hero__details {
    color: var(--clr-white);
    padding: 4.5rem 0;
    position: relative;
    max-width: 387px;

    @include mq(tablet) {
        width: 65%;
        margin-left: 7vw;
        margin-right: 0;
        padding: 10.8125rem 1rem 10.8125rem 0;
    }

    h1 {
        margin-bottom: 1rem;
        @include mq(tablet) {
            margin-bottom: 1.3125rem;
        }
    }

    p {
        margin-bottom: 1.2rem;
        @include mq(tablet) {
            margin-bottom: 3rem;
        }
    }

    &::after {
        content: '';
        display: block;
        height: 6px;
        width: 40%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--clr-gradient);

        @include mq(tablet) {
            display: none;
        }
    }
}

/* Beautiful Stories ======
====================== */ 

.stories {
    @include mq(tablet) {
        height: 600px;
        display: flex;
    }
}

.stories__img {
    background-image: url('../assets/home/mobile/beautiful-stories.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 271px;

    @include mq(tablet) {
        background-image: url('../assets/home/desktop/beautiful-stories.jpg');
        width: 35%;
        height: 100%;
    }

    @include mq(desktop) {
        width: 57%;
    }
}

.stories__details {
    padding: 4.5rem 0;
    max-width: 387px;

    h1 {
        margin-bottom: 1rem;

        @include mq(tablet) {
            margin-bottom: 1.3125rem;
        }
    }

    p {
        margin-bottom: 1.2rem;

        @include mq(tablet) {
            margin-bottom: 3rem;
        }
    }

    @include mq(tablet) {
        width: 65%;
        padding: 8.4375rem 0;
    }
}

/* Design for everyone =====
========================= */ 

.design {
    @include mq(tablet) {
        height: 600px;
        display: flex;
        flex-direction: row-reverse;
    }
}

.design__img {
    background-image: url('../assets/home/mobile/designed-for-everyone.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 271px;

    @include mq(tablet) {
        background-image: url('../assets/home/desktop/designed-for-everyone.jpg');
        width: 35%;
        height: 100%;
    }

    @include mq(desktop) {
        width: 57%;
    }
}

.design__details {
    padding: 5.75rem 0;
    max-width: 387px;

    @include mq(tablet) {
        margin-left: 7vw;
        width: 65%;
        padding: 10rem 1rem 10rem 0;
    }

    h1 {
        margin-bottom: 1rem;

        @include mq(tablet) {
            margin-bottom: 1.3125rem;
        }
    }

    p {
        margin-bottom: 1.2rem;

        @include mq(tablet) {
            margin-bottom: 3rem;
        }
    }

}

/* Image Grid =====
=============== */ 

.image-grid {
    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
    }
}

.img-card-mountains {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.66)), url('../assets/stories/mobile/mountains.jpg');

    @include mq(tablet) {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.66)), url('../assets/stories/desktop/mountains.jpg');
    }
}
.img-card-sunset {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.66)), url('../assets/stories/mobile/cityscapes.jpg');

    @include mq(tablet) {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.66)), url('../assets/stories/desktop/cityscapes.jpg');
    }
}
.img-card-voyage {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.66)), url('../assets/stories/mobile/18-days-voyage.jpg');

    @include mq(tablet) {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.66)), url('../assets/stories/desktop/18-days-voyage.jpg');
    }
}
.img-card-architecturals {
    background-image: linear-gradient(rgba(0,0,0,0) 0.27%, rgba(0,0,0,0.66) 100%), url('../assets/stories/mobile/architecturals.jpg');

    @include mq(tablet) {
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.66)), url('../assets/stories/desktop/architecturals.jpg');
    }
}

/* Features Section ====
=================== */ 

.features {
    text-align: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;

    @include mq(desktop) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        padding: 7.5rem 0;
    }
}

.feature {
    max-width: 457px;
    margin: 0 auto;

h3 {
    margin-bottom: 1rem;
    margin-top: 3rem;
}
}

.feature__img-limit {
    margin-bottom: 2rem;
}
